// Bootstrap variable overrides

// Typography
$font-family-sans-serif:  "PT Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       "PT Serif", "Times New Roman", Times, serif;
$font-family-base:        $font-family-serif;
$line-height-base:		  1.5;

// Colors
$brand-primary:           #506113;  // lightest green on wwnorton.com banner

// Flexbox
$enable-flex:             true;

// Other stuff
$border-radius:           0;
