/* Running Footer */

.naRH {
	border: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid #ddd;
	background-color: rgba(255,255,255,0.85);
}

.naRH-Title {display: table; font-size: 1em; color: #333;}
.naRH-TitleContainer {display:table-cell; vertical-align: middle; width: 100%; height: 2.7em; text-align: center;}
.naRH-naTitle {font-family: 'pt_serifbold'; font-weight: regular; font-variant: small-caps; margin: 0 0.5em 0 0.75em;}
.naRH-subTitle {margin-left: 0.5em;}

.naRH-ButtonsContainer {width: 100%; text-align: center;}
.naRH-Buttons input {margin-right: 0.5em; margin-top: 0.5em; outline: none;}

.naRH-Spacer {
	visibility: hidden;
	width: 100%;
	top: 0;
	border: 0;
	margin: 0;
	padding: 0;
	height: 3em;
}

.underline {border-bottom: 1px dotted #000;}
.noUnderline {border-bottom: 0;}