<header>
  <nav class="navbar navbar-primary bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" href="/">
        <img src="../assets/images/NortonLogo.jpg" alt="The Norton Ebook Framework (Current)" height="26" />
      </a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/demo">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/docs">Docs</a>
        </li>
      </ul>
    </div>
  </nav>

  <!--<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <img src="images/NortonLogo.jpg" alt="The Norton Ebook Framework (Current)" height="26" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/demo">Demo</a></li>
          <li><a href="/docs">Docs</a></li>
        </ul>
        <div class="nav navbar-nav navbar-right">
          <button class="btn btn-toggle navbar-btn" id="pageNumbers" title="Page numbers">
                <div class="icon icon-left">
                  <img src="images/menuIconPN.svg" alt="" class="icon-img svg" />
                  <span class="icon-text">Page numbers</span>
                </div>
              </button>

              <button class="btn btn-toggle navbar-btn" id="annotations" title="Annotations">
                <div class="icon icon-left">
                  <img src="images/menuIconAnnot.svg" alt="" class="icon-img svg" />
                  <span class="icon-text">Annotations</span>
                </div>
              </button>

              <a class="btn btn-toggle navbar-btn" href="http://books.wwnorton.com/studyspace/" target="_blank" title="StudySpace">
                <div class="icon icon-left">
                  <img src="images/studyspace_logo.svg" alt="" class="icon-img svg" />
                  <span class="icon-text">StudySpace</span>
                </div>
              </a>
        </div>
      </div>
    </div>
  </nav>-->
</header>