.btn.anno {
  padding: 0.1em 0.3em;
  font-size: inherit;
  &:hover {
    background-color: $brand-warning;
    color: white;
  }
}

.popover {
  &.anno {
    border-left-width: 5px;
    border-left-style: solid;
  }
  &.accessibility {
    border-left-color: $brand-warning;
  }
  &.bootstrap {
    border-left-color: $brand-primary;
  }
  &.framework {
    border-left-color: $brand-success;
  }
}