figure {
  margin-bottom: 1em;
  figcaption {
    font-size: 0.8em;
    background-color: $gray-lighter;
    border: 1px solid $table-border-color;
    padding: 10px;
    line-height: 1.2;
  }
  a.thumbnail+figcaption {
    margin-top: -20px;
  }
}
