.anno[data-toggle=popover] {
  @include reset-text();
  font-family: $font-family-monospace;
  color: inherit;
  padding: 0 2px;
  background-color: $gray-lighter;
  border-radius: $border-radius-base;
  cursor: pointer;
  @include focusHover {
    color: white;
    text-decoration: none;
  }
  &.anno-accessibility {
    @include focusHover {
      background-color: $brand-accessibility;
    }
  }
  &.anno-bootstrap {
    @include focusHover {
      background-color: $brand-bootstrap;
    }
  }
  &.anno-norton {
    @include focusHover {
      background-color: $brand-primary;
    }
  }
  &.anno-semantics {
    @include focusHover {
      background-color: $brand-html5;
    }
  }
}

@mixin annoPopover($type, $color) {
  &.#{anno- + $type} {
    border-left-color: $color;
    .popover-title {
      color: $color;
    }
  }
}

.popover {
  &.anno {
    border-left-width: 5px;
    border-left-style: solid;
    .popover-title {
      text-transform: uppercase;
      color: $gray-light;
      background-color: inherit;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &:after {
    position: absolute;
    content: attr('data-annotype');
  }
  @include annoPopover('accessibility', $brand-accessibility);
  @include annoPopover('bootstrap', $brand-bootstrap);
  @include annoPopover('norton', $brand-primary);
  @include annoPopover('semantics', $brand-html5);
}
