.anno[data-toggle=popover] {
  @include reset-text();
  font-family: $font-family-monospace;
  color: inherit;
  padding: 0 2px;
  background-color: $gray-lighter;
  border-radius: $border-radius-base;
  cursor: pointer;
  @include focusHover {
    color: white;
    text-decoration: none;
  }
  &.anno-a11y {
    @include focusHover {
      background-color: $brand-accessibility;
    }
  }
  &.anno-bs {
    @include focusHover {
      background-color: $brand-bootstrap;
    }
  }
  &.anno-framework {
    @include focusHover {
      background-color: $brand-primary;
    }
  }
}

.popover {
  &.anno {
    border-left-width: 5px;
    border-left-style: solid;
    .popover-title {
      text-transform: uppercase;
      color: $gray-light;
      font-weight: bold;
    }
  }
  &.anno-a11y {
    border-left-color: $brand-accessibility;
  }
  &.anno-bs {
    border-left-color: $brand-bootstrap;
  }
  &.anno-framework {
    border-left-color: $brand-primary;
  }
}