$brand-primary:         #404e0f;  // wwnorton.com banner

$brand-accessibility:   #aa6708;  // bootstrap's accessibility callout color
$brand-bootstrap:       #6f5499;  // bootstrap's brand color: http://getbootstrap.com/
$brand-photoswipe:      #3169b3;  // photoswipe text color: http://photoswipe.com/
$brand-html5:           #f14a29;  // html5 color: https://www.w3.org/html/logo/
