---
layout: default
---
<div class="container">

  <h1 class="chapter-title" role="title">
    <span class="chapter-ordinal" role="ordinal">{{ page.ordinal }}</span>
    <span class="chapter-label" role="label">{{ page.chapter-title }}</span>
  </h1>

  <div class="main-aside">
    <main class="chapter-content">
      {{ content }}
    </main>

    <!--<aside class="chapter-sidebar">
      {{ sidebar }}
    </aside>-->
  </div>
</div>

<div class="hidden-content" hidden>
  {% include photoswipe.html %}
</div>
