// Bootstrap variable overrides
$font-family-sans-serif:  "PT Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       "PT Serif", "Times New Roman", Times, serif;
$font-family-base:        $font-family-serif;
$font-size-base:		  16px;
$line-height-base:		  1.5;
$border-radius-base:      0;

$brand-primary:           #404e0f;  // wwnorton.com banner
